.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-shadow{
  background-color: rgba(131, 123, 199, 0.555);
  width: 17%;
  height: 10em;
  box-shadow: 0px 0px 10px var(--clr-gray-med);
  margin: 0 1em 1em 0;
  transition: all 100ms ease-in-out;
}

#div-container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.div-shadow:nth-child(odd){
  box-shadow: 0px 0px 10px var(--clr-gray-med);
}

.div-shadow:nth-child(even){
  box-shadow: 0px 0px 10px var(--clr-gray-med);
}
.div-shadow:hover{
  transform: scale(1.2);
}